1. What are data structures, and why are they important?
    - Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
    - They are important because they improve performance, memory usage, and code clarity when handling large or complex data.

2. Explain the difference between mutable and immutable data types with examples?

    - Mutable data types content can be changed.
      - Examples: List,Dict,set
    - Immutable data types content cannot be changed.
      - Examples: int,string,tuple,float

3. What are the main differences between lists and tuples in Python?
    - list is mutable whereas tuples are immutable.
    - list syntax is [] whereas tuples syntax is ()
    - list are slower tupples are faster.
    - list is dynamisc data type whereas tuples are static data type.

4. Describe how dictionaries store data

      - Dictionaries store data as key–value pairs using a hash table, where keys are unique and mapped to values.
    - Example
      student = {"name": "Ajay", "age": 34} Here name & age are keys and Ajay & 34 are values.

5. Why might you use a set instead of a list in Python?
    - Set automatically removes duplicate entries. Hence whenever unique elements are required set is used.
    - Because of unique elements membership testing is faster in set compared to list.
      Example: a=[1,2,3,3,2,1,1]b={1,2,3,3,2,1,1}
              2 in b execute faster than 2 in a

6. What is a string in Python, and how is it different from a list?

    - A string is an immutable sequence of character where as a list is mutable container which can hold hetrogenous data.

7. How do tuples ensure data integrity in Python?
    - Since tuples are immutable, their values cannot be modified, preventing accidental changes and ensuring data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores key–value pairs and allows fast lookup, insertion, and deletion.
    - A hash function converts a key into an integer (hash value).
This hash value determines where the value is stored in memory. When you access a key, Python recomputes the hash and retrieves the value instantly.
    - Python dictionaries are implemented using hash tables, enabling fast access.

9. Can lists contain different data types in Python?
    - Yes, lists can store heterogeneous data.
    - lst = [1, "Python", 3.14, True]

10.  Explain why strings are immutable in Python.

     - Strings are immutable for,Security,Memory efficiency,Performance optimization.
     - Changing a string creates a new object, not modification.

11. What advantages do dictionaries offer over lists for certain tasks.
    
    - Faster lookup using keys
    - Meaningful data access
    - Efficient for large datasets

12. Describe a scenario where using a tuple would be preferable over a list.
    - When data should not change
    - As dictionary keys
    - Returning multiple values from functions

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates.
    - Example:
        - set{1,1,2,3,2,4,4,3} will result in {1,2,3,4}

14. How does the “in” keyword work differently for lists and dictionaries?
    - While searching in list a linear serch is performed
    starting from index 0 .
    - while serching in a dictionary hash table is used with index analogous to keys.

15.  Can you modify the elements of a tuple? Explain why or why not?

     - No. Tuples are immutable, so elements cannot be changed after creation.
     - Tuples are deliberately design in such a way to serve the purpose of data safety and faster response.

16.  What is a nested dictionary, and give an example of its use case?
     - A dictonary inside of dictonary is called nested dictonary.
     - Example:
        - main_dic={"dict1":"{ sub_dic1={"key1": "value1","key2":"value2"}}","dict2":"{ sub_dic1={"key1": "value1","key2":"value2"}}"}

17. Describe the time complexity of accessing elements in a dictionary.
    - Generally time complexity is O(1).
    - But in case of Hash collision time complexity in worst case maybe O(n)

18. In what situations are lists preferred over dictionaries.
    - Ordered data
    - Indexed access
    - Storing duplicate values
    - Iterative processing

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Conceptually unordered because access is by keys, not index.
    - Data retrieval generally is fast as compared to other data structure.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List access by index whereas dictionary access by keys.
    - Element search in list is slower than in dictionary.
    - List works on ordered sequence where as dictionnary work on key-value mapping.

In [1]:
# 1. Write a code to create a string with your name and print it.
name="Shashank Srivastava"
print(name)

Shashank Srivastava

In [2]:
# 2. Write a code to find the length of the string "Hello World".
string="Hello World"
print(len(string))

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
print("Python Programming"[0:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
print("I like apple".replace("apple","orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst=['a', 'b', 'c', 'd']
print(lst[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10, 20, 30, 40, 50]
lst.reverse()
print(lst)

# another aproach
lst=[10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [16]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl=(100,200,300)
print(tpl)

(100, 200, 300)

In [17]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tpl=('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tpl=(10, 20, 5, 15)
print(min(tpl))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tpl=('dog', 'cat', 'rabbit')
print(tpl.index("cat"))

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tpl=("apple","banana","kiwi")
print("kiwi" in tpl)

True

In [20]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
st={"a","b","c"}
print(st)

{'b', 'a', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
st={1, 2, 3, 4, 5}
st.clear()
print(st)

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
st={1, 2, 3, 4}
st.remove(4)
print(st)

In [22]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
st1={1, 2, 3}
st2={3, 4, 5}
print(st1.union(st2))

# another aproach
st1={1, 2, 3}
st2={3, 4, 5}
print(st1|st2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [23]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
st1={1, 2, 3}
st2={2, 3, 4}
print(st1.intersection(st2))

# another aproach
st1={1, 2, 3}
st2={2, 3, 4}
print(st1&st2)

{2, 3}
{2, 3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic={"name":"Shashank","age":34,"city":"Delhi"}
print(dic)

{'name': 'Shashank', 'age': 34, 'city': 'Delhi'}

In [25]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic={'name': 'John', 'age': 25}
dic["country"]="USA"
print(dic)

# another aproach
dic={'name': 'John', 'age': 25}
dic.update({"country":"USA"})
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic={'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [28]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic={'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3,4]
tpl=(1,2,3,4)
dic={"name":"Shashank"}
print(lst)
print(tpl)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Shashank'}

In [33]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
lst=[]
for i in range(5):
    lst.append(random.randint(1,100))
lst.sort()
print(lst)

[13, 51, 65, 74, 89]

In [34]:
# 28. Write a code to create a list with strings and print the element at the third index.
lst=["apple","banana","kiwi"]
print(lst[2])

kiwi

In [35]:
# 29. Write a code to combine two dictionaries into one and print the result.
dic1={"name":"Shashank"}
dic2={"age":34}
dic1.update(dic2)
print(dic1)

{'name': 'Shashank', 'age': 34}

In [36]:
# 30. Write a code to convert a list of strings into a set.
lst=["ram","shyam","sita","shyam","sita","ram","rohit","rohit"]
st=set(lst)
print(st)

{'rohit', 'ram', 'sita', 'shyam'}